<service name="github_tarballs">
  <summary>Download latest release tarball and update package data</summary>
  <description>This service downloads the latest release tarball found on GitHub repository and updates the spec file version and changes file.
When you create a tag and upload to your GitHub repository you should also create a Release based on this tag.
Without having Releases this service will not work cause GitHub API only offers the ability to get 'latest release' but not 'latest tag'.
  </description>
  <parameter name="repourl">
    <description>upstream URL of the github repository.</description>
    <required/>
  </parameter>
  <parameter name="email">
    <description>User's email that will be used to sign the rpm's .changes file</description>
    <required/>
  </parameter>
  <parameter name="api">
    <description>The github API URL, needed for github enterprise, e.g. github.example.com/api/v3 </description>
  </parameter>
  <parameter name="package">
    <description>OBS package name.</description>
  </parameter>
  <parameter name="repo_owner">
    <description>GitHub repository owner</description>
    <required/>
  </parameter>
  <parameter name="repo_name">
    <description>GitHub repository name</description>
    <required/>
  </parameter>
</service>
